extends ../layouts/layout

block content 
    //- Header
    nav.navbar.navbar-expand-md.bg-white.navbar-white
        a(href='/')
            img#logo(src='/img/KKL_logo.png' width="100" height="100")
    br
    br
    br
    br

    //- Login Form
    div(class="container centroid")
      div(class="login-form" style="max-width: 400px")
        //- Button Back Home
        a(
          href="/"
          style="float: right"
          type="submit"
          class="btn btn-dark"
        ) Back

        //- Form
        form(action="/auth/login", method="post") 
            h2 Đăng nhập
            br

            if logInData
                div(class="form-group")
                    input(
                        type="email"
                        class="form-control"
                        id="email"
                        placeholder="Nhập email"
                        name="email"
                        value=logInData.email
                    )
                div(class="form-group")
                    input(
                        type="password"
                        class="form-control"
                        id="pwd"
                        placeholder="Nhập mật khẩu"
                        name="pwd"
                        value=logInData.password
                    )
            else
                div(class="form-group")
                    input(
                        type="email"
                        class="form-control"
                        id="email"
                        placeholder="Nhập email"
                        name="email"
                    )
                div(class="form-group")
                    input(
                        type="password"
                        class="form-control"
                        id="pwd"
                        placeholder="Nhập mật khẩu"
                        name="pwd"
                    )
            
            if (error)
                p(class="text-danger") #{error}
            
            div
                p Chưa có tài khoản? 
                    a(href="/auth/register") Tạo ngay
            button(
                type="submit"
                class="btn btn-primary width100Percent"
            ) Đăng nhập

    if success
        div(class="mb-0 alert alert-success alert-dismissible fade show" style="position: absolute; bottom: 1.5rem; right: 1.5rem" role="alert")
            strong #{success}
            button(type="button" class="close" data-dismiss="alert" aria-label="Close")
                span(aria-hidden="true") &times;
