extends ../layouts/layout

block content
    //- loading
    #loading.loading
        .loading-overlay
        .spinner

    //- Header
    nav.navbar.navbar-expand-md.bg-white.navbar-white
        a(href='/')
            img#logo(src='/img/LKLlogo.png')
    br
    br
    br
    br

    //- Signup Form
    div(class="container centroid")
      //- Format Form
      form(action="/auth/register", method="post", style="width: 100%; max-width: 800px; padding-bottom: 100px")
        //- Form
        h2(class="text-center mb-5") Đăng ký tài khoản

        if registerData
            div(class="form-group")
                label(for="fullname") Họ và tên:
                input(
                    type="text"
                    class="form-control"
                    id="fullname"
                    placeholder="Nhập họ và tên"
                    name="fullname"
                    value=registerData.fullname
                )
            div(class="form-group")
                label(for="phone") Số điện thoại:
                input(
                    type="text"
                    class="form-control"
                    id="phone"
                    placeholder="Nhập số điện thoại"
                    name="phone"
                    value=registerData.phone
                )
            div(class="form-group")
                label(for="address") Địa chỉ:
                input(
                    type="text"
                    class="form-control"
                    id="address"
                    placeholder="Nhập địa chỉ"
                    name="address"
                    value=registerData.address
                )
            div(class="form-group")
                label(for="email") Email:
                input(
                    type="email"
                    class="form-control"
                    id="email"
                    placeholder="Nhập Email"
                    name="email"
                    value=registerData.email
                )
            div(class="form-group")
                label(for="pwd") Mật khẩu:
                input(
                    type="password"
                    class="form-control"
                    id="pwd"
                    placeholder="Nhập mật khẩu"
                    name="pwd"
                    value=registerData.pwd
                )
            div(class="form-group")
                label(for="cfpwd") Xác nhận mật khẩu:
                input(
                    type="password"
                    class="form-control"
                    id="cfpwd"
                    placeholder="Nhập xác nhận mật khẩu"
                    name="cfpwd"
                    value=registerData.cfpwd
                )
        else 
            div(class="form-group")
                label(for="fullname") Họ và tên:
                input(
                    type="text"
                    class="form-control"
                    id="fullname"
                    placeholder="Nhập họ và tên"
                    name="fullname"
                )
            div(class="form-group")
                label(for="phone") Số điện thoại:
                input(
                    type="text"
                    class="form-control"
                    id="phone"
                    placeholder="Nhập số điện thoại"
                    name="phone"
                )
            div(class="form-group")
                label(for="address") Địa chỉ:
                input(
                    type="text"
                    class="form-control"
                    id="address"
                    placeholder="Nhập địa chỉ"
                    name="address"
                )
            div(class="form-group")
                label(for="email") Email:
                input(
                    type="email"
                    class="form-control"
                    id="email"
                    placeholder="Nhập Email"
                    name="email"
                )
            div(class="form-group")
                label(for="pwd") Mật khẩu:
                input(
                    type="password"
                    class="form-control"
                    id="pwd"
                    placeholder="Nhập mật khẩu"
                    name="pwd"
                )
            div(class="form-group")
                label(for="cfpwd") Xác nhận mật khẩu:
                input(
                    type="password"
                    class="form-control"
                    id="cfpwd"
                    placeholder="Nhập xác nhận mật khẩu"
                    name="cfpwd"
                )

        //- Buttons
        if (error && error.length > 0)
            p(class="text-danger") #{error}
        button(
            type="submit"
            class="btn btn-dark"
            style="width: 120px"
        ) Đăng ký
        button(class="btn" style="background-color: white;" id="resetButton") Làm mới
        a(
            href="/auth/login"
            style="float: right"
            type="submit"
            class="btn btn-dark"
        ) Back
    
    script(src="/js/register.js") 