//- View exam schedule modal
#viewExamScheduleModal.modal.fade(role='dialog')
    .modal-dialog.modal-lg(role='content')
        .modal-content
            .modal-header
                h4.modal-title#viewExamScheduleTitle
                button.close(type='close', data-dismiss='modal') &times;
            .modal-body
                    div.form-group.row
                        label(class="col-form-label col-md-12") Danh sách học viên dự thi
                        div(class="col-md-12")
                            ul(id="viewExamScheduleStudentsList")

                    div.d-flex.justify-content-end
                        button(class="btn btn-default ml-3", data-dismiss="modal") Đóng

//- Add exam schedule modal
#addExamScheduleModal.modal.fade(role='dialog')
    .modal-dialog.modal-lg(role='content')
        .modal-content
            .modal-header
                h4.modal-title Thêm lịch thi mới
                button.close(type='close', data-dismiss='modal') &times;
            .modal-body
                form
                    div.form-group.row
                        label(class="col-md-12 col-form-label", for="examScheduleCourseId") Tên khóa học
                        div(class="col-md-12")
                            select(class="form-control", id="examScheduleCourseId")
                                option(value="") (Chọn khóa học)
                                
                                if courses
                                    each course in courses
                                        option(value=course.courseId) #{course.courseName}

                    div.form-group.row
                        label(class="col-form-label col-md-12", for="examScheduleRoom") Phòng thi
                        div(class="col-md-12")
                            input(type="text", class="form-control", id="examScheduleRoom")
                    
                    div.form-group.row
                        label(class="col-form-label col-md-12", for="examScheduleDate") Ngày thi
                        div(class="col-md-12")
                            input(type="text", class="form-control", id="examScheduleDate")
                    
                    div.form-group.row
                        label(class="col-form-label col-md-12", for="examScheduleTime") Thời gian
                        div(class="col-md-12")
                            input(type="text", class="form-control", id="examScheduleTime")

                    div.form-group.row
                        label(class="col-form-label col-md-12") Thêm học viên
                        div(class="col-md-12")
                            select(class="form-control", id="examScheduleStudents")
                                option(value="") (Chọn học viên)
                                
                                if users
                                    each user in users
                                        if user.role === 4
                                            option(value=user.studentId data-name=user.fullname) #{user.fullname}
                            
                    div.form-group.row
                        label(class="col-form-label col-md-12") Danh sách học viên dự thi
                        div(class="col-md-12")
                            div(id="examScheduleStudentsList")

                    p(class="text-success text-center" id="addExamScheduleSuccess")
                    p(class="text-danger text-center" id="addExamScheduleFailed")

                    div.d-flex.justify-content-end
                        button(class="btn btn-success", id="addExamScheduleButton") Thêm
                        button(class="btn btn-default ml-3", data-dismiss="modal") Đóng

//- Edit exam schedule modal
#editExamScheduleModal.modal.fade(role='dialog')
    .modal-dialog.modal-lg(role='content')
        .modal-content
            .modal-header
                h4.modal-title Cập nhật lịch thi
                button.close(type='close', data-dismiss='modal') &times;
            .modal-body
                form
                    div.form-group.row
                        label(class="col-md-12 col-form-label", for="editExamScheduleCourseId") Tên khóa học
                        div(class="col-md-12")
                            select(class="form-control", id="editExamScheduleCourseId")
                                option(value="") (Chọn khóa học)
                                
                                if courses
                                    each course in courses
                                        option(value=course.courseId) #{course.courseName}

                    div.form-group.row
                        label(class="col-form-label col-md-12", for="editExamScheduleRoom") Phòng thi
                        div(class="col-md-12")
                            input(type="text", class="form-control", id="editExamScheduleRoom")
                    
                    div.form-group.row
                        label(class="col-form-label col-md-12", for="editExamScheduleDate") Ngày thi
                        div(class="col-md-12")
                            input(type="text", class="form-control", id="editExamScheduleDate")
                    
                    div.form-group.row
                        label(class="col-form-label col-md-12", for="editExamScheduleTime") Thời gian
                        div(class="col-md-12")
                            input(type="text", class="form-control", id="editExamScheduleTime")

                    div.form-group.row
                        label(class="col-form-label col-md-12") Thêm học viên
                        div(class="col-md-12")
                            select(class="form-control", id="editExamScheduleStudents")
                                option(value="") (Chọn học viên)
                                
                                if users
                                    each user in users
                                        if user.role === 4
                                            option(value=user.studentId data-name=user.fullname) #{user.fullname}
                            
                    div.form-group.row
                        label(class="col-form-label col-md-12") Danh sách học viên dự thi
                        div(class="col-md-12")
                            div(id="editExamScheduleStudentsList")
                    
                    p(class="text-success text-center" id="editExamScheduleSuccess")
                    p(class="text-danger text-center" id="editExamScheduleFailed")

                    div.d-flex.justify-content-end
                        button(class="btn btn-primary", id="editExamScheduleButton") Cập nhật
                        button(class="btn btn-default ml-3", data-dismiss="modal") Đóng

//- Delete exam schedule modal
#deleteExamScheduleModal.modal.fade(role='dialog')
    .modal-dialog.modal-lg(role='content')
        .modal-content
            .modal-header
                h4.modal-title#deleteExamScheduleTitle
                button.close(type='close', data-dismiss='modal') &times;
            .modal-body
                    p(class="text-success text-center" id="deleteExamScheduleSuccess")

                    div.d-flex.justify-content-end
                        button(class="btn btn-danger", id="deleteExamScheduleButton") Xóa
                        button(class="btn btn-default ml-3", data-dismiss="modal") Đóng